.sidebar {
  /* width: 100%; */
  flex: 0.4;
}
.sidebar__upper__items {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.sidebar__upper__items > img {
  width: 2vh;
}
.sidebar__upper__items > input {
  outline: none;
  border: none;
  width: 100%;
}

.sidebar__upper__items > .sidebar__upper__items__input {
  /* border: 1px solid lightgray; */
  background: #eeeeee;
  border-radius: 5px;
  /* height: 10px; */
}
.sidebar__upper__items > h3 {
  margin: 0;
}

.sidebar__headline {
  display: flex;
  margin-top: 20px;
  padding: 5px;
  align-items: center;
  justify-content: space-between;
  background: #f6f6f6;
  border-top: 0.5px solid lightgray;
  border-bottom: 0.5px solid lightgray;
  cursor: pointer;
}

.sidebar__headline > h4 {
  margin: 0;
}

.sidebar__items {
  display: flex;
  margin-top: 10px;
  align-items: center;
  color: #999999;
  cursor: pointer;
}

.sidebar__items > h3 {
  margin: 0 10px;
}

@media (max-width: 768px) {
  .sidebar__upper__items > h3 {
    margin: 0;
    font-size: 12px;
  }

  .sidebar__headline > h4 {
    font-size: 10px;
  }

  .sidebar__items > h3 {
    font-size: 10px;
  }
}
