.sidebar {
  width: 100%;
  flex: 0.4;
  /* background: white; */
  cursor: pointer;
  background: transparent !important;
}

.sidebar__upper__items {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.sidebar__upper__items:hover {
  background-color: #eee;
  color: white;
}

.sidebar__items :hover {
  background-color: #eee;
}

.sidebar__upper__items > img {
  width: 2vh;
  margin-left: 7px;
}
.sidebar__upper__items > input {
  outline: none;
  border: none;
  width: 100%;
}

.sidebar__upper > .sidebar__upper__items__input {
  border: 1px solid lightgray;
  background: #eeeeee;
  border-radius: 5px;
  /* height: 10px; */
}
.sidebar__upper__items > h3 {
  margin: 0;
  padding-left: 10px;
  color: #999999;
}

.sidebar__headline {
  display: flex;
  margin-top: 20px;
  padding: 5px;
  align-items: center;
  justify-content: space-between;
  background: #f6f6f6;
  border-top: 0.5px solid lightgray;
  border-bottom: 0.5px solid lightgray;
  cursor: pointer;
}

.sidebar__headline > h4 {
  margin: 0;
  color: #999999;
}

.sidebar__items {
  display: flex;
  margin-top: 10px;
  align-items: center;
  color: #999999;
  cursor: pointer;
}

.sidebar__items > h3 {
  margin: 0 10px;
}

.model__content {
  padding: 0.5rem !important;
}

.model__content > input {
  border: none;
  width: 70%;
  outline: none;
}

.model__contentdescription > input {
  border: none;
  width: 100%;
  outline: none;
  padding: 0.5rem !important;
  border-bottom: 3px dashed #eee;
  margin-bottom: 0.5rem;
}

.model__contentbuttons {
  padding: 0.5rem !important;
  text-align: center;
}

@media (max-width: 768px) {
  .sidebar__upper__items > h3 {
    margin: 0;
    font-size: 12px;
  }

  .sidebar__headline > h4 {
    font-size: 10px;
  }

  .sidebar__items > h3 {
    font-size: 10px;
  }
}
