.dashboard {
  flex: 0.6;
  height: 95vh;
  margin-left: 20px;
  box-shadow: 0 0 12px rgb(0 0 0 / 20%);

  /* margin-top: 20px; */
}

.dashboard__heading {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  /* margin: 10px 10px; */
  background: #eee;
  align-items: center;
  border-bottom: 1px solid #ddd;
}

.dashboard__heading > h2 {
  margin: 0;
}

.dashboard__insights {
  display: flex;
  /* margin-top: 10px; */
  justify-content: space-evenly;
  background: #eee;
  align-items: center;
  border-bottom: 1px solid #ddd;
}

.dashboard__insight {
  display: flex;
  flex: 0.3;
  flex-direction: column;
  align-items: center;
  padding: 15px;
}

.dashboard__insight > h4 {
  margin: 0;
}
.dashboard__body {
  display: flex;
  flex-direction: column;
  /* margin: 10px; */
  padding: 10px 15px;
}

.body__headings {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.body__headings > h3 {
  margin: 0;
  color: #999;
  font-size: 15px;
}

.body__headings__buttons {
  display: inline;
  margin-right: -50px;
}

.ui.button {
  margin: 0;
  border: none;
  border-radius: 3px !important;
}

.dashboard__accounts {
  display: flex;
  margin-top: 10px;
  justify-content: space-between;
}

.dashboard__owe {
  width: 52%;
  border-right: 1px solid #eee;
  /* padding-left: 13px; */
}

.dashboard__owed {
  width: 50%;
  padding-left: 14px;
  border-left: 1px solid #eee;
}
