.dashboard {
  flex: 1;
  width: 100%;
  /* background: rebeccapurple; */
  height: 95vh;
  margin: 0 20px;
  box-shadow: 0 0 12px rgb(0 0 0 / 20%);
}

.dashboard__heading {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
  background: #eee;
}

.dashboard__heading > h3 {
  font-size: 30px;
}

.dashboard__insights {
  display: flex;
  justify-content: space-evenly;
  padding: 5px 0;
  border: 1px solid #ddd;
  border-left: 0;
  border-right: 0;
  background: #eee;
}

.dashboard__insight {
  display: flex;
  flex: 0.3;
  flex-direction: column;
  align-items: center;
  padding: 15px;
}

.dashboard__insight > h4 {
  margin: 0;
}

.body__headings {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}

.body__headings > h3 {
  margin: 0;
  color: #999;
  font-size: 15px;
}
.body__headings__buttons {
  display: inline;
  margin-right: -50px;
}

.body__headings__buttons > .ui.button {
  margin: 0;
  border: none;
  border-radius: 3px !important;
}

.dashboard__accounts {
  display: flex;
  margin-top: 10px;
  justify-content: space-between;
}

.dashboard__owe {
  width: 52%;
  border-right: 1px solid #eee;
  padding-left: 13px;
}

.dashboard__owed {
  width: 50%;
  padding-left: 14px;
  border-left: 1px solid #eee;
}

.model__content {
  display: flex !important;
  align-items: center !important;
}

.model__content > input {
  width: 80% !important;
  outline: none !important;
  border: none !important;
}

.model__contentdescription > input {
  border: none !important;
  outline: none !important;
  border-bottom: 4px dashed #eee !important;
  margin-bottom: 12px !important;
}

@media (max-width: 1300px) {
  .dashboard__heading > h3 {
    font-size: 20px;
  }
  .dashboard__buttons {
    display: flex;
  }
  .dashboard__insight > h4 {
    margin: 0;
    font-size: 9px;
  }
  .body__headings {
    display: flex;
    /* justify-content: space-evenly; */
    /* align-items: center; */
    /* padding: 5px; */
  }

  .body__headings__buttons > .ui.button {
    margin: 0;
    border: none;
    border-radius: 3px !important;
    size: 10px;
    font-size: 7px;
  }
  .body__headings > h3 {
    margin: 0;
    color: #999;
    font-size: 8px;
  }
}
